<h1>Address Book</h1>
<form action="/view_all_contacts">
  <label for="new-contact">Add a contact here</label>
  <input type="new-contact" name="new-contact" type="text">
  <button type="submit">Submit</button>
</form>
